#wpadminbar{
    background-image: -webkit-gradient(linear,left top,right top,from(#1278f6),to(#00b4aa));
    background-image: -webkit-linear-gradient(left,#1278f6,#00b4aa);
    background-image: -moz-linear-gradient(left,#1278f6,#00b4aa);
    background-image: linear-gradient(to right,#1278f6,#00b4aa);
}
/*
#adminmenu, #adminmenu .wp-submenu, #adminmenuback, #adminmenuwrap{
    background:#1278f6
}*/
